.container {
    width: 1200px;
    margin: 0 auto;
    border: 3px dashed hotpink;
}
 /* container & item */
.flex-container {
    display: flex;
    border: 1px solid lightcoral;
}

.item {
    width: 100px;
    height: 100px;
    margin: 20px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    line-height: 60px;
    background: royalblue;
    color: white;
    box-sizing: border-box;
}

.order-1 { order: -1; } 
.order1 { order: 1; } 
.order2 { order: 2; }
.order3 { order: 3; }
.order4 { order: 4; }

.grow1 { flex-grow: 1;}
.grow2 { flex-grow: 2;}

.shrink0 { width: 600px; flex-shrink: 0;}
.shrink1 { width: 800px; flex-shrink: 1;}
.shrink2 { width: 800px; flex-shrink: 2;}
.shrink3 { width: 800px; flex-shrink: 3;}

.basis100 { flex-basis: 100px;}
.basis200 { flex-basis: 200px;}

.flex1 { flex: 1 1 200px;}
.flex2 { flex: 2 2 300px;}

.align-self { height: 600px; }
.self-start { align-self: flex-start;}
.self-end { align-self: flex-end;}
.self-center { align-self: center;}
.self-stretch { align-self: stretch;}
.self-base { align-self: baseline; }