@charset "urf-8";
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&family=Noto+Sans+KR:wght@300;700&family=Unna&display=swap');

/*reset*/
*{margin: 0; padding: 0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700; font-size: inherit;}
a {text-decoration: inherit; color: inherit;}
li {list-style: none;}
img {vertical-align: middle;}
a img {border: none;}
address, em, i {font-style: normal;}
a:focus {outline: none}
button:focus {outline: none}

/*layout*/
body {font-family: 'Noto Sans KR', sans-serif; font-size: 14px; color:#000; line-height: 1.4;}
.wrap {width: 100%; margin:0 auto; overflow:hidden;  }
.en {font-family: 'Unna', serif;}
.en_1{font-family: 'Maven Pro', sans-serif;}
.menuWrap span {display: block;}
.menuWrap span b {font-weight: normal;}

/*menuOpen*/
.menuWrap {width: 100%; height: 100vh; position: fixed; top:0; left: 0; z-index: 100; background: #eee; color: #000; padding: 160px 200px 0 450px; box-sizing: border-box; overflow: hidden;}
.menuWrap .close {display: inline-block; position: absolute; top:5px; left: 40px; font-size: 16px;}
.menuWrap .close img {margin-right: 25px;}

/*.menuWrap .menuWrap_left*/
.menuWrap .menuWrap_left {float: left; width: 50%; }
.menuWrap .menuWrap_left .tit {margin-bottom: 50px; letter-spacing: 2px; font-weight: normal;}
.menuWrap .menuWrap_left li a {font-size: 44px; line-height: 1.5;}
.menuWrap .menuWrap_right {float: left; width: 50%;}
.menuWrap .menuWrap_right .fam_site {font-size: 18px; line-height: 1.7; margin-bottom:100px;}
.menuWrap .menuWrap_right .fam_site li:nth-child(1) {font-size: 15px; margin-bottom: 23px;}
.menuWrap .menuWrap_right .follow p {font-size: 15px;line-height: 1;}
.menuWrap .menuWrap_right .follow a {display: inline-block;margin-right: 25px; font-size: 24px;}

/*text animation*/
.menuWrap.on span {overflow: hidden;}
.menuWrap.on span b{overflow: hidden; display: block; animation-name: textAni; animation-duration: 1.4s;}
@keyframes textAni {
    0% {opacity: 0;}
    40% {opacity: 0; transform: translateY(100px);}
}

/* menu */
.menuWrap {width: 0; transition: 0s; overflow: hidden; opacity: 0; padding: 0;}
.menuWrap.on {width: 100%; left: 0; transition: 0.5s; opacity: 1; padding: 160px 200px 0 450px; }



/*header*/
header {width: 100%; padding: 0 40px; box-sizing: border-box; height: 100px; line-height: 100px; color: #fff; z-index: 100; position: fixed; top:0; }
header {background: rgba(96,77,62,0.3);}
header .menuOpen{display: inline-block; position: absolute; top:50%; transform: translateY(-50%); width: 40px;height: 16px; line-height: 100px;}
header .menuOpen span {display: block; width: 100%; height: 1px;background: #fff;position: absolute; top:0;left: 0;}
header .menuOpen span.mid {top:50%;}
header .menuOpen span.bot {top:100%;}
header .book {display: inline-block; float:left; margin-left: 70px;height: 100%; font-size: 25px; }
header .langs {float:left; margin-left: 220px;overflow: hidden; width: 150px; }
header .langs li {float: left; width: 50%;}
header .langs li:nth-child(1){font-weight: bold;}
header .langs li:nth-child(2){color: #ddd;}
header .langs li a {display: block;padding: 0 30px; box-sizing: border-box;text-transform: uppercase;}
header .right {float: right;}
header .right li {float: left;margin-right: 55px;}
header .right li:nth-child(2){margin-right: 0;}
header .right li p{letter-spacing: 1px;}
header .right li .logo {width: 150px;height: 100px;}
header .right li .logo a {display: block; width: 100%;height: 100%;position: relative;}
header .right li .logo a img {position: absolute; left: 0; top:50%; transform: translateY(-50%); width: 100%;}
header .right li .logo a img:nth-child(2){opacity: 0;}

img {width: 100%;}