.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

header {
    position: sticky;
    top: 0;
    
    background: deeppink;
    color: white;
    padding-left: 32px; 
    padding-right: 32px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  main {
    padding: 32px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: inline-block;
    margin-left: 16px;
    font-size: 18px;
    font-weight: bold;
  }
  
  html {
    height: 200%;
    line-height: 1.6;
  }

  section { 
    width: 1200px;
    height: 400px;
    margin: 0 auto;
    background-color: lightskyblue;
    border: 3px solid blue;   
}