.container {
    width: 960px;
    min-height: 400px;
    margin: 0 auto;
    border: 3px dashed orange;
}


.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: royalblue;
    padding: 10px;
}

.item {
    background-color: lightblue;
    border: 1px solid black;
    padding: 20px;
    text-align: center;
}
